.aioseo-breadcrumbs {
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 40px;
  color: var(--green-dark);
  font-weight: 500;
}

.aioseo-breadcrumbs a {
  -webkit-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
  color: var(--gray);

}

.aioseo-breadcrumbs a:hover {
  color: #000;
}